@using MVC_CV.Models.Entity
@model List<Tbl_Admin>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<br />

<h2> Admin </h2>
<table class=" table table-bordered">
    <tr>
        <th> ID</th>
        <th> UserName</th>
     
        <th> Delete</th>
        <th> Edit</th>

    </tr>
    @foreach (var item in Model) /// the reason we use foreach here is that we are getting list as outcome
    {
        <tr>
            <td> @item.ID   </td>
            <td> @item.UserName   </td>
          
            <td> <a href="/Admin/DeleteAdmin/@item.ID" class="btn btn-danger">Delete</a></td>
            <td> <a href="/Admin/UpdateAdmin/@item.ID" class=" btn btn-info">Edit</a></td>
        </tr>
    }
</table>
<a href="/Admin/AddAdmin" class="btn btn-success">Add New User</a>

