
@{
    ViewBag.Title = "AddAbility";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h4> Add New Experience</h4>
<br />

<form method="post">
    <input type="text" name="Ability" class="form-control" placeholder=" Ability" />
    <br />
    <input type="text" name="Proportion" class="form-control" placeholder=" Proportion" />
    <br />
    <button class="btn btn-info"> Save</button>
</form>
